In [1]:
print("hello , world")
for i in range(9):
    print("*")

hello , world
*
*
*
*
*
*
*
*
*

In [2]:
arr=[]
arr1=[]
n=int(input("Enter the n value "))
for i in range(n):
    x=int(input("Enter  "))
    if(x%2==0):
       arr.append(x)
    else:
      arr1.append(x)
print(arr)
print(arr1)

Enter the n value  5
Enter   2
Enter   5
Enter   87
Enter   12
Enter   56

[2, 12, 56]
[5, 87]

In [7]:
n=int(input("Enter the n value  "))
for i in range(n+1):
    n='*'
    print(n*i)

Enter the n value   7

*
**
***
****
*****
******
*******

In [16]:
lis=[]
n=input("Enter the  string ")
m=len(n)
print(m)
lis=n
f=0
for i in range(0,m):
    if(lis[i]!=lis[-i-1]):
        f=1
        break
    else:
       f=0
       
if(f==0):
    print("s")
else:
    print("no")

Enter the  string  malayalam

9
s

In [47]:
#  prime or not
n=int(input("Enter the number "))
f=0
m=n//2
for i in range(2,m):
        if(n%i == 0):
            f=1
            break
        else:
            f=0
if(f==0):
    print("prime")
else: 
    print("not")
    if(n%3==0):
     print("div by 3")
    if(n%5==0):
        print("div by 5")
    if(n%7==0):
        print("div by 7")
    if(n%9==0):
        print("div by 9")

Enter the number  9

not
div by 3
div by 9

separate odd and even

In [7]:

n=int(input("Enter the n value "))
odd=[]
even=[]
for i in range(n):
    x=int(input("Enter "))
    if(x%2==0): 
        odd.append(x)
    else:
        even.append(x)
print(odd)
print(even)

Enter the n value  7
Enter  12
Enter  34
Enter  6
Enter  7
Enter  87
Enter  34
Enter  56

[12, 34, 6, 34, 56]
[7, 87]

In [9]:
n=int(input("enter n value "))
for i in range(n+1):
    m='*'
    print(m*i)

enter n value  8

*
**
***
****
*****
******
*******
********

In [3]:
str=input("Enter the string  ")
n=len(str)
f=1
for i in range(n):
    if(str[i]==str[-i-1]):
        f=1
    else:
        f=0
        break
if(f==1):
    print("s p")
else:
    print("not p")

Enter the string   jgdjefh

not p

In [63]:
n=int(input("Enter the number "))
f=1
m=n//2
for i in range(2,m+1):
    if(n%i!=0):
        f=1
       
    else:
       f=0
       break
if(f==1):
    print("prime")
else:
    print("not prime")
    if(n%3==0):
        print("div by 3")
    if(n%5==0):
        print("div by 5")
    if(n%7==0):
        print("div by 7")
    if(n%9==0):
        print("div by 9")

Enter the number  9

not prime
div by 3
div by 9

In [64]:
n=[1,2,3,4,5]
m=["one","two","three","four","five"]
d=dict(zip(n,m))
print(d)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [65]:
n=[1,2,3,4,5,6,7,8]
m=tuple(n)
print(m)

(1, 2, 3, 4, 5, 6, 7, 8)

In [66]:
m=(1,2,3,4,)
n=("one","two","three","four")
d=dict(zip(m,n))
print(d)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [67]:
m=(1,2,3,4,5,6,7,8,9)
n=list(m)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
for i in d.items():
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')

In [70]:
m={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
a=m.items()
n=list(a)
print(n)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [74]:
a=input("Enter the string ")
b=input("Enter the string ")
s1=[]
s2=[]
s1=set(a)
s2=set(b)
print(s1)
print(s2)
lis= s1 & s2
print(lis)

Enter the string  suchii
Enter the string  vijiis

{'h', 'c', 'u', 's', 'i'}
{'j', 's', 'v', 'i'}
{'s', 'i'}

In [85]:
str=input("Enter the string ")
a=str.split()
print(a)
m=len(a)
d={}
for i in range(m):
    if(i not in d.keys()):
        d[i]=0
    d[i]=d[i]+1
print(d)

Enter the string  hfhg tera kuuiy athf.iyf

['hfhg', 'tera', 'kuuiy', 'athf.iyf']
{0: 1, 1: 1, 2: 1, 3: 1}

In [2]:

n=input("Enter the statement   ")
li=n.split()
print(li)
d={}
for i in li:
  if(i not in d.keys()):
     d[i]=0
  d[i]=d[i]+1
print(d)

Enter the statement    shela is y natiev and shela my friend and shela my sister also nd my kali

['shela', 'is', 'y', 'natiev', 'and', 'shela', 'my', 'friend', 'and', 'shela', 'my', 'sister', 'also', 'nd', 'my', 'kali']
{'shela': 3, 'is': 1, 'y': 1, 'natiev': 1, 'and': 2, 'my': 3, 'friend': 1, 'sister': 1, 'also': 1, 'nd': 1, 'kali': 1}

In [12]:

n=[1,2,3,4,6,7,8,9]
l=n[-1]
print(l)
t=(l*(l+1))//2
print(t)
a=n[-1]
s=sum(n)
print(s)
d=t-s
print(d)

9
45
40
5

In [9]:
def number():
  m=0
  while(m<10):
    n=int(input(" enter  "))
    m=m+1
    if(n==6):
        for i in range(1,n):
            if(i!=6):
                print(i)
            else:
                break
number()

 enter   3
 enter   4
 enter   6

1
2
3
4
5

 enter   7
 enter   8
 enter   9
 enter   6

1
2
3
4
5

 enter   6

1
2
3
4
5

 enter   8
 enter   8

In [6]:
def function():
  m=0
  while(m<10):
      n=int(input("Enter  "))
      m=m+1
      if(n==6):
       for i in range(1,11):
          if(i!=6):
              print(i)

function()

Enter   4
Enter   5
Enter   6

1
2
3
4
5
7
8
9
10

Enter   7
Enter   8
Enter   6

1
2
3
4
5
7
8
9
10

Enter   9
Enter   6

1
2
3
4
5
7
8
9
10

Enter   7
Enter   6

1
2
3
4
5
7
8
9
10

In [13]:
def tables():
  m=0
  while(m<10):
      n=int(input("enter "))
      m=m+1
      for i in range(1,11):
          c=n*i
          print(n,"*",i,"=",c)

tables()

enter  2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

enter  3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

enter  4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

enter  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

enter  6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

enter  7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

enter  8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

enter  9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

enter  10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

enter  11

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [20]:
lm=[]
n=input("Enter the string  ")
l=len(n)
lm=n
ll=n.split()
print(ll)
m=input("Enter last name ")

Enter the string   shuuu shu chiiii tra    aaa

['shuuu', 'shu', 'chiiii', 'tra', 'aaa']

Enter last name  uuuuuu

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [45]:
def cont():
    n=input("Enter string:  ")
    m=input("enter last : ")
    ll=n.split()
    l=len(ll)
    print(ll)
    mm=[]
    mm=m
    print(mm)
    print(l)
    mp=[]
    #for i in range(0,l):
    # mp=ll[i]+mm[i]
    #mp.append(pp)  
    mp=ll+mm
    print(mp)
cont()

Enter string:   jnjkh rdew etry u
enter last :  mmmm

['jnjkh', 'rdew', 'etry', 'u']
mmmm
4

TypeError: can only concatenate list (not "str") to list

In [47]:
def nat():
    for i in range(0,11):
        print(i)
nat()

0
1
2
3
4
5
6
7
8
9
10

In [49]:
def fibo():
    a=0
    b=1
    print(a)
    print(b)
    for i in range(1,11):
        c=a+b
        print(c)
        a=b
        b=c
fibo()

0
1
1
2
3
5
8
13
21
34
55
89

In [51]:
def fact():
    f=1
    for i in range(1,21):
        f=f*i
        if(i%2!=0):
            print(f)
fact()

1
6
120
5040
362880
39916800
6227020800
1307674368000
355687428096000
121645100408832000

In [52]:
def facte():
    f=1
    for i in range(1,21):
        f=f*i
        if(i%2==0):
            print(f)
facte()

2
24
720
40320
3628800
479001600
87178291200
20922789888000
6402373705728000
2432902008176640000

In [57]:
def evnre():
    en=[]
  
    for i in range(1,21):
        if(i%2==0):
            en.append(i)
    print(en)
    en.reverse()
    print(en)
evnre()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [58]:
def sep():
    od=[]
    en=[]
    n=int(input("Enter the n value : "))
    for i in range(n+1):
        x=int(input("enter  "))
        if(x%2==0):
            od.append(x)
        else:
            en.append(x)
    print(od)
    print(en)
            
sep()

Enter the n value :  6
enter   12
enter   3
enter   56
enter   7
enter   9
enter   23
enter   5

[12, 56]
[3, 7, 9, 23, 5]

In [61]:
def avg():
    n=10
    s=0
    for i in range(n+1):
        x=int(input("enter " ))
        s=s+x
    a=s//10
    print(a)
avg()

enter  1
enter  2
enter  3
enter  4
enter  5
enter  6
enter  7
enter  8
enter  9
enter  1
enter  1

4

In [66]:
def num():
    for i in range(100,200):
        if((i%11)==0 and i%2!=0):
            print(i)
        
num()

121
143
165
187

In [68]:
def until():
    while(1):
        n=int(input("enter "))
        if(n!=0):
            f=1
            for i in range(1,n+1):
                f=f*i
            print(f)
        else:
            break
until()

enter  3

6

enter  5

120

enter  2

2

enter  6

720

enter  1

1

enter  2

2

enter  3

6

enter  4

24

enter  5

120

enter  6

720

enter  7

5040

enter  0

In [72]:
def half():
    arr=[]
    arr1=[]
    arr2=[]
    mp=[]
    n=int(input("Enter n value "))
    for i in range(n+1):
        x=int(input("enter "))
        arr.append(x)
    print(arr)
    m=len(arr)
    print(m)
    a=m//2
    for i in range(0,m):
        if(i<a):
           arr1.append(arr[i])
        else:
          arr2.append(arr[i])
    print(arr1)
    print(arr2)
    arr1.sort()
    print(arr1)
    arr2.sort()
    arr2.reverse()
    print(arr2)
    mp=arr1+arr2
    print(mp)
   
half()

Enter n value  4
enter  12
enter  6
enter  45
enter  111
enter  6

[12, 6, 45, 111, 6]
5
[12, 6]
[45, 111, 6]
[6, 12]
[111, 45, 6]
[6, 12, 111, 45, 6]

In [5]:
d=["one","two","thre"]

l=len(d)
print(l)
ol=[]
for i in range(l+1):
    m=("ommm")
    ol.append( m) 
p=dict(zip(d,ol))
print(p)

3
{'one': 'ommm', 'two': 'ommm', 'thre': 'ommm'}

In [9]:
n=int(input("Enter the number : "))
print(n>>1)
m=int(input("Enter the number : "))
print(m<<3)

Enter the number :  4

2

Enter the number :  2

16

In [13]:
a=8
print(a)
a+=3
print(a)
a-=5
print(a)
a*=7
print(a)

8
11
6
42

In [26]:
def rann():
    import random
    c=random.randint(1,20)
    print(c)
rann()

16

In [34]:
import turtle
 
 
tur = turtle.Turtle()
tur.speed(20)
tur.color("black", "orange")
tur.begin_fill()
 
for i in range(50):
    tur.forward(300)
    tur.left(170)
 
tur.end_fill()
turtle.done()

SyntaxError: invalid non-printable character U+00A0 (3075023154.py, line 1)